<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="theme-color" content="#ffc9e5">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>新生·心生</title>
    <style>
        html, body {
            min-height: 100vh;
            width: 100%;
            min-width: 17rem;
        }
        div {
            vertical-align: top;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
		<a href="/">
			<img href="" src="{% static '/img/Logo_Transparent_Crop_Small.PNG' %}" style="max-height: 3rem">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-item nav-link" href="/">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/recentactivities">最近活动</a>
				</li>
                <li class="nav-item">
					<a class="nav-item nav-link active" href="/artexpo">艺术展
                        <span class="sr-only">(current)</span>
                    </a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/#cards">联系我们</a>
				</li>
			</ul>
		</div>
	</nav>
    <div style="background: #d4edda; height: 20rem; padding: 1rem;">
        {% if mode == 1 %}
            <h3 style="color: #155724">欢迎来到心生·新生</h3>
            <hr/>
            <p style="margin: 0;">Hi~欢迎来到心生·心生艺术展~</p>
            <p>这个网站是为了能让大家理解作品的意义，也可以让大家给作者打赏哟~</p>
            {% if username == None%}
                <p style="margin-bottom: 0.4rem">首先，为了能给作者打赏，你需要先 <a href="/artexpo/login" class="btn btn-success">登录</a> 我们的网站</p>
                <p>什么？还没有账号嘛？ <a href="/artexpo/register" class="btn btn-primary">现在注册一个</a></p>
            {% else %}
                <p style="margin: 0;">看来你已经登录了噢~在现场用微信扫描作品旁边的二维码就可以看到作品的所有资料啦~</p>
                <p>如果要给作者打赏的话，扫码添加微信机器人客服充值，就可以在作品页面给作者打赏啦！</p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
