<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="theme-color" content="#ffc9e5">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>新生·心生❤给作者打赏❤</title>
    <style>
        html, body {
            min-height: 100%;
            width: 100%;
            min-width: 17rem;
            background: #ffc9e5;
        }
        div {
            vertical-align: top;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
		<a href="/">
			<img href="" src="{% static '/img/Logo_Transparent_Crop_Small.PNG' %}" style="max-height: 3rem">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-item nav-link" href="/">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/recentactivities">最近活动</a>
				</li>
                <li class="nav-item">
					<a class="nav-item nav-link active" href="/artexpo">艺术展
                        <span class="sr-only">(current)</span>
                    </a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/#cards">联系我们</a>
				</li>
			</ul>
		</div>
	</nav>
    <div style="border-radius: 1rem; margin: 2rem; padding: 1rem; text-align: center; box-shadow: 0 0 20px deepskyblue; background: #fff;">
        <div style="border-radius: 0.5rem; width: 100%; box-shadow: 0 0 15px black; background: #fff;">
            <object data="{% static 'img/ArtExpo/Works' %}/{{ work_id }}.jpg" type="image/jpg">
                <div style="display: table; height: 100%; width: 100%;">
                    <div style="display: table-cell; vertical-align: middle; padding-top: 2rem; padding-bottom: 2rem">
                        <img style="width: 60%;" src="{% static 'img/img_No_Image.png' %}">
                    </div>
                </div>
            </object>
        </div>
        <div style="margin: 1rem 1.5rem 0;">
            <p style="font-size: 20px; margin: 0;">《{{ work_name }}》</p>
            <p style="margin-bottom: 0.5rem;"><a href="/artexpo/author/{{ author_id }}" style="font-size: 14px;">作者：{{ author_name }}</a></p>
        </div>
        <div style="margin: 1rem 1.5rem 0;">
            <form action="/artexpo/reward/{{ work_id }}/" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">打赏</span>
                    </div>
                    <input placeholder="打赏" aria-label="打赏" type="number" name="coins" class="form-control" id="id_coins" value="1">
                    <div class="input-group-append">
                        <span class="input-group-text">个硬币</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger" style="width: 90%; margin-bottom: 1rem">打赏</button>
            </form>
        </div>
    </div>
</body>
</html>
