<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="theme-color" content="#ffc9e5">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>新生·心生-作者-{{ author_name }}</title>
    <style>
        html, body {
            min-height: 100vh;
            width: 100%;
            min-width: 17rem;
            background: #ffc9e5;
        }
        div {
            vertical-align: top;
        }
        .info_key {
            border-right: 1px dashed #bebebe;
            border-bottom: 1px dashed lightskyblue;
            padding: 0.5rem 0.5rem 0 0.5rem;
        }
        .info_value {
            border-bottom: 1px dashed lightskyblue;
            word-wrap: break-spaces;
            padding: 0.5rem 0.5rem 0 0.5rem;
        }
    </style>
    <script>
        function test() {
            {% autoescape off %}
                let j = "{{ description }}";
                j = j.replace(/'/g, '\"');
                console.log(JSON.parse(j));
            {% endautoescape %}
        }
    </script>
</head>
<body onload="test()">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
		<a href="/">
			<img href="" src="{% static '/img/Logo_Transparent_Crop_Small.PNG' %}" style="max-height: 3rem">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-item nav-link" href="/">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/recentactivities">最近活动</a>
				</li>
                <li class="nav-item">
					<a class="nav-item nav-link active" href="/artexpo">艺术展
                        <span class="sr-only">(current)</span>
                    </a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/#cards">联系我们</a>
				</li>
			</ul>
		</div>
	</nav>
    <div style="border-radius: 1rem; margin: 2rem; padding: 0.5rem; text-align: center; box-shadow: 0 0 20px deepskyblue; background: #fff;">
        <div style="border-radius: 0.5rem; width: 100%; box-shadow: 0 0 15px black; background: #fff;">
            <img style="width: 100%; max-height: 100%; border-radius: 0.5rem" src="{% static 'img/ArtExpo/Authors' %}/{{ author_id }}.jpg"/>
        </div>
        <div style="margin: 1rem 1.5rem 0;">
            <p style="font-size: 2.5rem;">{{ author_name }}</p>
            <p style="margin-bottom: 1rem; text-align: center; max-width: 100%; font-size: 1rem;">关于作者</p>
            <table style="width: 100%; max-width: 100%; text-align: left; table-layout: fixed">
                {% for key, value in description.items %}
                    <tr>
                        <td contenteditable="true" class="info_key" style="width: {{ key|length }}em;">{{ key }}</td>
                        <td contenteditable="true" class="info_value">{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>