<!DOCTYPE html>
<html lang="en"  style="min-height: 100vh;  background: #f8f9fa;">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="theme-color" content="#ffc9e5">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>新生·心生-作者-{{ author_name }}</title>
    <style>
        html, body {
            min-height: 100vh;
            width: 100%;
            min-width: 17rem;
            background: #ffc9e5;
        }
        div {
            vertical-align: top;
        }
        .btn-common {
            width: 100%;
        }
        .info_key {
            border-right: 1px dashed #bebebe;
            border-bottom: 1px dashed lightskyblue;
            padding: 0.5rem 0.5rem 0 0.5rem;
        }
        .info_value {
            border-bottom: 1px dashed lightskyblue;
            word-wrap: break-spaces;
            padding: 0.5rem 0.5rem 0 0.5rem;
        }
    </style>
    <script>
        let btn_edit;
        let btn_submit;
        let btn_del_empty;
        let upd_info;
        let upd_info_description;
        let input_author_name;
        let btn_add_row;
        let upd_info_name;
        function init() {
            btn_edit = document.getElementById('btn_enable_edit');
            btn_submit = document.getElementById('btn_submit');
            btn_del_empty = document.getElementById('btn_del_empty');
            upd_info_description = document.getElementById('upd_info_des');
            input_author_name = document.getElementById('input_author_name');
            upd_info_name = document.getElementById('upd_info_name');
            btn_add_row = document.getElementById('btn_add_row');
        }
        function enable_edit(enable) {
            if (enable){
                btn_edit.innerHTML = '完成';
                btn_edit.className = 'btn btn-success btn-common';
                input_author_name.disabled = false;
                btn_del_empty.disabled = false;
                btn_submit.disabled = true;
                btn_add_row.disabled = false;
            } else {
                btn_edit.innerHTML = '编辑';
                btn_edit.className = 'btn btn-primary btn-common';
                input_author_name.disabled = true;
                btn_del_empty.disabled = true;
                btn_submit.disabled = false;
                btn_add_row.disabled = true;
                gather_update_info();
            }
            let key_tds = document.getElementsByClassName('info_key');
            let value_tds = document.getElementsByClassName('info_value');
            for (let i = 0; i<key_tds.length; i++) {
                key_tds[i].contentEditable = enable;
            }
            for (let i = 0; i<value_tds.length; i++) {
                value_tds[i].contentEditable = enable;
            }
        }
        function gather_update_info() {
            upd_info = {};
            let tbl = document.getElementById('tbl_author_info');
            let key_tds = document.getElementsByClassName('info_key');
            let value_tds = document.getElementsByClassName('info_value');
            for (i = 0; i<key_tds.length; i++) {
                if (!(tbl.rows[i].cells[0] === '' && tbl.rows[i].cells[1] === '')) {
                    upd_info[key_tds[i].innerHTML] = value_tds[i].innerHTML;
                }
            }
            upd_info = JSON.stringify(upd_info);
            upd_info_description.value = upd_info;
            upd_info_name.value = input_author_name.value;
        }
        function btn_edit_click() {
            if (btn_edit.innerHTML === '编辑') {
                enable_edit(true);
            } else {
                enable_edit(false);
            }
        }
        function del_row_click() {
            let tbl = document.getElementById('tbl_author_info');
            row_del = [];
            for (let i = 0; i<tbl.rows.length; i++) {
                console.log(tbl.rows[i].cells[0].innerHTML);
                console.log(tbl.rows[i].cells[1].innerHTML);
                if (tbl.rows[i].cells[0].innerHTML === '' && tbl.rows[i].cells[1].innerHTML === '') {
                    row_del.push(i);
                    console.log('empty row:'+i);
                } else {
                    if (tbl.rows[i].cells[0].innerHTML === '<br>' && tbl.rows[i].cells[1].innerHTML === '<br>') {
                    row_del.push(i);
                    console.log('empty row:'+i);
                    }
                }
            }
            console.log('rows to remove');
            console.log(row_del);
            let t = row_del.length;
            let max = 0;
            let max_index = 0;
            for (i = 0; i<t; i++) {
                for (let j = 0; j<row_del.length; j++) {
                    if (row_del[j] >= max) {
                        console.log(max);
                        max = row_del[j];
                        max_index = j;
                    }
                }
                tbl.deleteRow(max);
                row_del.splice(max_index);
                max = 0;
                max_index = 0;
            }

        }
        function add_row_click() {
            let tbl = document.getElementById('tbl_author_info');
            let row = tbl.insertRow(-1);
            let cell;
            cell = row.insertCell(0);
            cell.innerHTML = '新建行';
            cell.className = 'info_key';
            cell.contentEditable = true;
            cell = row.insertCell(1);
            cell.innerHTML = '新建行';
            cell.className = 'info_value';
            cell.contentEditable = true;
        }
    </script>
</head>
<body onload="init()" style="max-width: 40rem; margin: 0 auto; border: 0.2rem solid #f8f9fa; min-height: 100vh;">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
		<a href="/">
			<img href="" src="{% static '/img/Logo_Transparent_Crop_Small.PNG' %}" style="max-height: 3rem">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-item nav-link" href="/">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/recentactivities">最近活动</a>
				</li>
                <li class="nav-item">
					<a class="nav-item nav-link active" href="/artexpo">艺术展
                        <span class="sr-only">(current)</span>
                    </a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/#cards">联系我们</a>
				</li>
			</ul>
		</div>
	</nav>
    <div style="border-radius: 1rem; margin: 2rem; padding: 0.5rem; text-align: center; box-shadow: 0 0 20px deepskyblue; background: #fff;">
        <div style="border-radius: 0.5rem; width: 100%; box-shadow: 0 0 15px black; background: #fff;">
            <img style="width: 100%; max-height: 100%; border-radius: 0.5rem" src="{% static 'img/ArtExpo/Authors' %}/{{ author_id }}.jpg"/>
        </div>
        <div style="margin: 1rem 1.5rem 0;">
            <input id="input_author_name" class="form-control" style="font-size: 2.5rem; text-align: center"
                   placeholder="作者名" width="100%" value="{{ author_name }}" disabled>
            <p style="margin-bottom: 1rem; text-align: center; max-width: 100%; font-size: 1rem;">关于作者</p>
            <table id="tbl_author_info" style="width: 100%; max-width: 100%; text-align: left; table-layout: fixed">
                {% for key, value in description.items %}
                    <tr>
                        <td class="info_key" style="width: {{ key|length }}em;">{{ key }}</td>
                        <td class="info_value">{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-primary btn-common" style="margin-top: 1rem" id="btn_enable_edit" onclick="btn_edit_click()">编辑</button>
            <button class="btn btn-danger btn-common" style="margin-top: 0.5rem" id="btn_del_empty" disabled onclick="del_row_click()">删除空白行</button>
            <button class="btn btn-common btn-outline-success" style="margin-top: 0.5rem" id="btn_add_row" disabled onclick="add_row_click()">添加行</button>
            <hr>
            <form action="/smdadmin/update_author" method="post">
                {% csrf_token %}
                <input type="hidden" id="upd_info_des" name="description">
                <input type="hidden" id="upd_info_name" name="name">
                <button type="submit" class="btn btn-success btn-common" id="btn_submit">提交更改</button>
            </form>
        </div>
    </div>
</body>
</html>
